on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

name: Deploy
permissions:
  contents: write

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - id: checkout_code
        uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          stable: 'true'
          # go-version: '1.24' # The Go version to download (if necessary) and use.
      - run: go version
      - run: make all

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false
          files: |
            ./bin/BUCTNet-Login_macOS_amd64
            ./bin/BUCTNet-Login_linux_amd64
            ./bin/BUCTNet-Login_linux_arm64
            ./bin/BUCTNet-Login_linux_mips64le
            ./bin/BUCTNet-Login_linux_mipsle
            ./bin/BUCTNet-Login_windows_amd64.exe
